@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@font-face {
    font-family: var(--font-02);
    src:
      local(var(--font-02)),
      url("arial_bolditalicmt.ttf"),
      url("arialmt.ttf");
  }
  /* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
body{
  background: #222222;
}
:root{
  --font-base: "Prata";
  --font-02: "Arial";
}
a{
  text-decoration: none;
}
.container{
  max-width: 1920px;
  margin: 0 auto;

  padding: 0px 0px 0px 160px;
  position: relative;
}
.logo-text{
  font-family: var(--font-base);
  color: #fff;
  font-size: 36px;
  margin-right: 205px;
  cursor: pointer;
}
.header{
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 100;
  transition: 1s;
}
.header__content{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-top: 30px;
}
.header__banner{
  position: absolute;
  top: -310px;
  right: 0px;
  z-index: 1;
}
.header__ul{
  display: flex;
  align-items: center;
  gap: 29px;
  list-style-type: none;
}
.header__li{
  color: #fff;
  cursor: pointer;
  font-style: italic;
}
.header__li:hover{
  color: #d4f039;
}
/* SECTION */
.banner{
  margin-top: 210px;
}
.banner__content__title{
  font-family: var(--font-base);
  color: #fff;
  font-size: 80px;
  font-weight: 400;
  line-height: 120%;
}
.banner__content__subtitle{
  font-family: var(--font-02);
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  line-height: 120%;
}
.banner__content__price{
  display: flex;
  align-items: center;
  gap: 15px;
}
.banner__content__price span{
 display: block;
}
.banner__content__price__num{
  font-family: var(--font-base);
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  line-height: 150%;
}
.banner__content__price__text{
  font-family: var(--font-02);
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.banner__content__price__items{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 64px;
}
.banner__content__order{
  background-color: #fff;
  padding: 32px 50px;
  font-family: var(--font-02);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  cursor: pointer;
  width: max-content;
  transition: 0.4s;
}
.banner__content__order:hover{
  background-color: #80902a;
  color: #fff;
}
/* BANNER-02 */
.banner-info{
  margin-top: 99px;
}
.banner-info__container{
  max-width: 1920px;
  padding: 0px;
  margin: 0 auto;
}
.banner-info__grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 53px;
}
.banner-info__grid__items{
  position: relative;
}
.banner-info__grid__items__list{
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding-top: 53px;
}
.banner-info__grid__items__list__li{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 0px 40px 0px;
}
.line{
  border-bottom: 1px solid #55565A;
}
.banner-info__grid__items__list__li__text{
  font-family: var(--font-02);
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  color: #fff;
}
.banner-info__grid__items__list__li button{
  padding: 32px 52px;
  font-family: var(--font-02);
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  width: 100%;
  position: absolute;
  bottom: 0;
}
/* FORM */
.form{
  margin-top: 99px;
}
.container-form{
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}
.form__title{
  font-family: var(--font-base);
  font-size: 54px;
  line-height: 110%;
  font-weight: 400;
  margin-bottom: 45px;
}
.form__content__grid{
  display: grid;
  grid-template-columns: 774px 1fr;
}
.form__input{
  padding: 13.88px 20.82px 13.88px 38.16px;
  border-radius: 4px;
  border: 2px solid #d6d6d6;
  width: 786px;
  font-family: var(--font-02);
  font-size: 24px;
  line-height: 150%;
}
.form__input::placeholder{
  font-family: var(--font-02);
  font-size: 24px;
  line-height: 150%;
  opacity: 0.7;
}
.form__content{
  background-color: #fff;
  border-radius: 24px;
  height: 628px;
  padding: 60px 0px 60px 134px;
  background-image: url("/img/form-bg.png");
  background-size: contain;
  background-position-x: right;
  background-repeat: no-repeat;
}
.form-base button{
  padding: 32px 20.82px;
  background-color: #282829;
  color: #fff;
  font-family: var(--font-02);
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  width: 786px;
  transition: 0.4s;
  margin-top: 26px;
}
.form-base button:hover{
  background-color: #80902a;
}
.checkbox-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 13px;
  font-family: var(--font-02);
  font-size: 19px;
  line-height: 130%;
  font-weight: 400;
}
.checkbox-label>a{
  font-family: var(--font-02);
  font-size: 19px;
  line-height: 130%;
  color: #000000; 
  margin-left: 5px;
}
.checkbox-label>a:hover{
  text-decoration: underline;
}
.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox-view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;
  transition: .3s;
}
.checkbox-icon {
  opacity: 0;
  transition: 0.3s;
}
.checkbox:checked + .checkbox-view {
  background-color: green;
}
.checkbox:checked + .checkbox-view .checkbox-icon {
  opacity: 1;
}
.form__input-flex{
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.form__content__grid__items-bg{
  position: relative;
}
.form__bg-2{
  position: absolute;
  top: -110px;
  left: 52px;
  width: 65%;
}
/* FOOTER */
.footer{
  margin-top: 100px;
}
.footer__ul{
  gap: 60px;
}
.footer__top{
  display: flex;
  justify-content: center;
  padding: 40px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.footer__li{
  font-family: var(--font-02);
  font-size: 20px;
  font-style: italic;
  line-height: 150%;
}
.footer__bottom__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__bottom__content__link{
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: 145px;
}
.footer__bottom__content__btn{
  position: relative;
}
