@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@font-face {
    font-family: var(--font-02);
    src:
      local(var(--font-02)),
      url("arial_bolditalicmt.ttf"),
      url("arialmt.ttf");
  }
  /* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
body{
  background: #222222;
}
:root{
  --font-base: "Prata";
  --font-02: "Arial";
}
.mob{
  display: none;
}
.none{
  display: none!important;
}
a{
  text-decoration: none;
}
.container{
  max-width: 1920px;
  margin: 0 auto;

  padding: 0px 0px 0px 160px;
  position: relative;
}
.logo-text{
  font-family: var(--font-base);
  color: #fff;
  font-size: 36px;
  margin-right: 205px;
  cursor: pointer;
}
.header{
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 100;
  transition: 1s;
}
.header__content{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-top: 30px;
}
.header__banner{
  position: absolute;
  top: -310px;
  right: 0px;
  z-index: 1;
}
.header__ul{
  display: flex;
  align-items: center;
  gap: 29px;
  list-style-type: none;
}
.header__li{
  color: #fff;
  cursor: pointer;
  font-style: italic;
}
.header__li:hover{
  color: #d4f039;
}
/* SECTION */
.banner{
  margin-top: 210px;
}
.banner__content__title{
  font-family: var(--font-base);
  color: #fff;
  font-size: 80px;
  font-weight: 400;
  line-height: 120%;
}
.banner__content__subtitle{
  font-family: var(--font-02);
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  line-height: 120%;
}
.banner__content__price{
  display: flex;
  align-items: center;
  gap: 15px;
}
.banner__content__price span{
 display: block;
}
.banner__content__price__num{
  font-family: var(--font-base);
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  line-height: 150%;
}
.banner__content__price__text{
  font-family: var(--font-02);
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.banner__content__price__items{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 64px;
}
.banner__content__order{
  background-color: #fff;
  padding: 32px 50px;
  font-family: var(--font-02);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  cursor: pointer;
  width: max-content;
  transition: 0.4s;
  border-radius: 4px;
}
.banner__content__order:hover{
  background-color: #80902a;
  color: #fff;
}
/* BANNER-02 */
.banner-info{
  margin-top: 99px;
}
.banner-info__container{
  max-width: 1920px;
  padding: 0px;
  margin: 0 auto;
}
.banner-info__grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 53px;
}
.banner-info__grid__items{
  position: relative;
}
.banner-info__grid__items__list{
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding-top: 53px;
}
.banner-info__grid__items__list__li{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 0px 40px 0px;
}
.line{
  border-bottom: 1px solid #55565A;
}
.banner-info__grid__items__list__li__text{
  font-family: var(--font-02);
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  color: #fff;
}
.banner-info__grid__items__list__li button{
  padding: 32px 52px;
  font-family: var(--font-02);
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 4px;
}
/* FORM */
.form{
  margin-top: 99px;
}
.container-form{
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}
.form__title{
  font-family: var(--font-base);
  font-size: 54px;
  line-height: 110%;
  font-weight: 400;
  margin-bottom: 45px;
}
.form__content__grid{
  display: grid;
  grid-template-columns: 774px 1fr;
}
.form__input{
  padding: 13.88px 20.82px 13.88px 38.16px;
  border-radius: 4px;
  border: 2px solid #d6d6d6;
  width: 786px;
  font-family: var(--font-02);
  font-size: 24px;
  line-height: 150%;
}
.form__input::placeholder{
  font-family: var(--font-02);
  font-size: 24px;
  line-height: 150%;
  opacity: 0.7;
}
.form__content{
  background-color: #fff;
  border-radius: 24px;
  height: 628px;
  padding: 60px 0px 60px 134px;
  background-image: url("./img/form-bg.png");
  background-size: contain;
  background-position-x: right;
  background-repeat: no-repeat;
}
.form-base button{
  padding: 32px 20.82px;
  background-color: #282829;
  color: #fff;
  font-family: var(--font-02);
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  width: 786px;
  transition: 0.4s;
  margin-top: 26px;
  border-radius: 4px;
}
.form-base button:hover{
  background-color: #80902a;
}
.checkbox-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 13px;
  font-family: var(--font-02);
  font-size: 19px;
  line-height: 130%;
  font-weight: 400;
}
.checkbox-label>a{
  font-family: var(--font-02);
  font-size: 19px;
  line-height: 130%;
  color: #000000; 
  margin-left: 5px;
}
.checkbox-label>a:hover{
  text-decoration: underline;
}
.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox-view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;
  transition: .3s;
}
.checkbox-icon {
  opacity: 0;
  transition: 0.3s;
}
.checkbox:checked + .checkbox-view {
  background-color: green;
}
.checkbox:checked + .checkbox-view .checkbox-icon {
  opacity: 1;
}
.form__input-flex{
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.form__content__grid__items-bg{
  position: relative;
}
.form__bg-2 {
  position: absolute;
  width: 448px;
  bottom: 0;
  right: 190px;
}
/* FOOTER */
.footer{
  margin-top: 100px;
}
.footer__ul{
  gap: 60px;
}
.footer__top{
  display: flex;
  justify-content: center;
  padding: 40px 0;
  border-top: 2px solid #D5C9BE;
  border-bottom: 2px solid #D5C9BE;
}
.footer__li{
  font-family: var(--font-02);
  font-size: 20px;
  font-style: italic;
  line-height: 150%;
}
.footer__bottom__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 43px 0px 0px 0px;
}
.footer__bottom__content__link{
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: 145px;
}
.footer__bottom__content__btn{
  position: relative;
  border-radius: 4px;
}
.footer__copyright{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 63px 0px 53px 0px;

}
.footer__copyright .copyright{
  color: #fff;
  font-family: var(--font-02);
  font-size: 20px;
  font-weight: 400;
}
.footer__copyright a:nth-child(n+2){
  color: #D5C9BE;
  font-family: var(--font-02);
  font-size: 20px;
  font-weight: 400;
}
/* АДАПТИВ */

/* 1800px */
@media(max-width:1800px){
  .banner-info__grid__items__list__li__text {
    font-family: var(--font-02);
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
    color: rgb(255, 255, 255);
}
.banner-info__grid__items__list__li {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 0px 30px;
}
}
@media(max-width:1680px){
  .banner-info__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.banner-info__grid__items__list__li__text {
  font-family: var(--font-02);
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  color: rgb(255, 255, 255);
}
.banner__content__order {
  background-color: #fff;
  padding: 32px 50px;
  font-family: var(--font-02);
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  cursor: pointer;
  width: max-content;
  transition: 0.4s;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 0px 0px 100px;
  position: relative;
}
.container-form{
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px 40px;
}

.form__content {
  background-color: #fff;
  border-radius: 24px;
  height: 628px;
  padding: 60px 0px 60px 100px;
  background-image: url(./img/form-bg.png);
  background-size: contain;
  background-position-x: right;
  background-repeat: no-repeat;
}
.form__title {
  font-family: var(--font-base);
  font-size: 50px;
  line-height: 110%;
  font-weight: 400;
  margin-bottom: 45px;
}
.form__input {
  padding: 13.88px 20.82px 13.88px 38.16px;
  border-radius: 4px;
  border: 2px solid #d6d6d6;
  width: 730px;
  font-family: var(--font-02);
  font-size: 22px;
  line-height: 150%;
}
.form-base button {
  padding: 32px 20.82px;
  background-color: #282829;
  color: #fff;
  font-family: var(--font-02);
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  width: 730px;
  transition: 0.4s;
  margin-top: 26px;
  border-radius: 4px;
}
.form__bg-2 {
  position: absolute;
  width: 448px;
  bottom: 0;
  right: 190px;
}
}
@media(max-width:1600px){
  .logo-text {
    font-family: var(--font-base);
    color: #fff;
    font-size: 36px;
    margin-right: 110px;
    cursor: pointer;
}
.header__banner img {
  width: 95%;
  position: relative;
  right: -40px;
}
.banner {
  margin-top: 180px;
}
.banner__content__title {
  font-family: var(--font-base);
  color: #fff;
  font-size: 70px;
  font-weight: 400;
  line-height: 120%;
}
.banner__content__subtitle {
  font-family: var(--font-02);
  color: #fff;
  font-size: 45px;
  font-weight: 400;
  line-height: 120%;
}
.banner__content__price__items {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 50px;
}
.banner__content__order {
      background-color: #fff;
      padding: 28px 45px;
      font-family: var(--font-02);
      font-weight: 700;
      font-size: 22px;
      line-height: 150%;
      cursor: pointer;
      width: max-content;
      transition: 0.4s;
  }  
.form__content {
  background-color: #fff;
  border-radius: 24px;
  height: 628px;
  padding: 40px 0px 0px 80px;
  background-image: url(./img/form-bg.png);
  background-size: contain;
  background-position-x: right;
  background-repeat: no-repeat;
}
.form__content__grid {
  display: grid;
  grid-template-columns: 600px 1fr;
}
.form__input{
  padding: 13.88px 20.82px 13.88px 38.16px;
  border-radius: 4px;
  border: 2px solid #d6d6d6;
  width: clamp(20.9375rem, -22.9514rem + 68.5764vw, 45.625rem);
  font-family: var(--font-02);
  font-size: 24px;
  line-height: 150%;
}
.form-base button{
  padding: 32px 20.82px;
  background-color: #282829;
  color: #fff;
  font-family: var(--font-02);
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  width: clamp(20.9375rem, -22.9514rem + 68.5764vw, 45.625rem);
  transition: 0.4s;
  margin-top: 26px;
  border-radius: 4px;
}
.form__bg-2 {
  position: absolute;
  width: 448px;
  bottom: 0;
  right: 230px;
}

.footer__bottom__content__link {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: 80px;
}
}
@media(max-width: 1440px){
  .header__banner img {
    width: 90%;
    position: relative;
    right: -75px;
}
.logo-text {
  font-family: var(--font-base);
  color: #fff;
  font-size: 32px;
  margin-right: 90px;
  cursor: pointer;
}
.banner__content__title {
  font-family: var(--font-base);
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  line-height: 120%;
}
.banner__content__subtitle {
  font-family: var(--font-02);
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  line-height: 120%;
}
.banner__content__price__num {
  font-family: var(--font-base);
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 150%;
}
.banner__content__order {
  background-color: #fff;
  padding: 24px 40px;
  font-family: var(--font-02);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  cursor: pointer;
  width: max-content;
  transition: 0.4s;
}
.banner-info__grid__items__list__li button {
  padding: 24px 42px;
  font-family: var(--font-02);
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 4px;
}
.banner-info__grid__items__list__li__text {
  font-family: var(--font-02);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: rgb(255, 255, 255);
}
.form__content__grid {
  display: grid;
  grid-template-columns: 450px 1fr;
}
}
@media(max-width:1366px){
.header__li {
  color: #fff;
  cursor: pointer;
  font-style: italic;
  font-size: 12px;
}
.header__banner img {
  width: 83%;
  position: relative;
  right: -130px;
}
.banner-info__grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 40px;
}
.banner-info__grid__items__list__li {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 0px 15px;
}
.banner-info__grid__items__list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding-top: 20px;
}
.banner-info__grid__items__list__li__img{
  width: 40px;
}
.banner-info__grid__items__list__li button {
  padding: 16px 42px;
}
.banner__content__price__text {
  font-size: 20px;
}
.banner__content__price__num {
  font-size: 28px;
}
.form__title {
  font-family: var(--font-base);
  font-size: 44px;
  line-height: 110%;
  font-weight: 400;
  margin-bottom: 40px;
}
.form__bg-2 {
  position: absolute;
  width: 395px;
  bottom: 0;
  right: 190px;
}
.form__content{
  background-color: #fff;
  border-radius: 24px;
  height: 550px;
  padding: 60px 0px 60px clamp(3.125rem, -6.2317rem + 14.6199vw, 6.25rem);
  background-image: url("./img/form-bg.png");
  background-size: contain;
  background-position-x: right;
  background-repeat: no-repeat;
}
.form-base button {
  padding: 18px 20.82px;
  font-size: 16px;
  margin-top: 16px;
}
.form__input {
  padding: 8.88px 20.82px 8.88px 27.16px;
  font-size: 18px;
  line-height: 150%;
}
.form__input::placeholder{
  font-size: 18px;
}
.checkbox-label {
  font-size: 16px;
  margin-top: 5px;
}
.checkbox-label>a {
  font-size: 16px;
}
.form__input-flex {
  gap: 10px;
}
.footer__bottom__content__link {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 80px;
}
.footer__bottom__content__btn{
  font-size: 18px;
}
.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 53px 0px 43px 0px;
}
}
@media(max-width:1280px){
  .banner {
    margin-top: 180px;
}
.banner__content__title {
  font-size: 54px;
}
.banner__content__order {
  padding: 18px 40px;
}
.banner__content__subtitle {
  font-size: 32px;
}
  .header__banner img {
    width: 80%;
    position: relative;
    right: -153px;
}
  .banner-info__grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    gap: 30px;
}
.banner-info__grid__items__list__li button {
  padding: 18px 36px;
  font-size: 18px;
}
}
@media(max-width:1240px){
  .header {
    background-color: rgba(0, 0, 0, 0.6) !important;
}
.banner {
  margin-top: 100px;
}
.header__banner img {
  width: 70%;
  right: -229px;
  top: 110px;
}
.banner-info__grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
}
.banner-info__grid__items__list__li button {
  padding: 10px 36px;
  font-size: 16px;
}
.banner-info__grid__items__list__li__text{
  font-size: 14px;
}
.banner-info__grid__items__list__li {
  display: flex
;
  align-items: center;
  gap: 15px;
  padding: 0px 0px 5px;
}
}
@media(max-width:1024px){
  .container {
    padding: 0px 0px 0px 50px;
}
.container-form {
  padding: 0px 40px;
}
.header{
  background-color: rgba(0, 0, 0, 0.6)!important;
}
  .banner {
    margin-top: 100px;
}
  .header__banner img {
    width: 70%;
    right: -229px;
    top: 110px;
}
  .banner-info__grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
}
.banner-info__grid__items__list__li__text {
  font-size: 14px;
  line-height: 120%;
}
.banner-info__grid__items__list__li button {
  padding: 10px 36px;
  font-size: 16px;
}
.banner-info__grid__items__list__li {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 0px 5px;
}
.form__content{
  background-size: cover;
}
}
@media(max-width:990px){
  .header__banner img {
    width: 70%;
    right: -229px;
    top: 110px;
    opacity: 0.2;
}
.banner__content__order {
  padding: 14px 36px;
}
.banner__content__order{
  font-size: 16px;
}
.banner-info__grid {
  grid-template-columns: 0fr 3fr 1fr;
}
.banner-info__grid__items__list{
  padding-top: 0px;
}
.banner-info__grid__items__list__li button {
  padding: 12px 24px;
  font-size: 16px;
}
.banner-info__grid__items__list__li {
  padding: 0px 0px 5px;
}
.banner-info__grid__items__list__li__img {
  width: 30px;
}
.form__content {
  background-color: #fff;
  border-radius: 24px;
  height: 444px;
  padding: 50px 0px 60px clamp(3.125rem, -6.2317rem + 14.6199vw, 6.25rem);
  background-image: url(./img/form-bg.png);
  background-size: cover;
  background-position-x: right;
  background-repeat: no-repeat;
}
.form__content__grid {
  display: grid
;
  grid-template-columns: 0.6fr 1fr;
}
.form__title {
  font-family: var(--font-base);
  font-size: 36px;
  line-height: 110%;
  font-weight: 400;
  margin-bottom: 40px;
}
.form__bg-2 {
  position: absolute;
  width: 328px;
  bottom: 0;
  right: 163px;
}
}
@media(max-width:768px){
  .header__banner img{
   display: none;
  }
  .banner__content__title {
    font-size: 40px;
    text-align: center;
}
.banner__content__subtitle {
  font-size: 26px;
  text-align: center;
  margin-top: 10px;
}
.banner__content__price__items {
  align-items: center;
}
.banner__content__price__text {
  font-size: 16px;
  gap: 8px;
}
.banner__content__price__num {
  font-size: 18px;
}
.banner__content__order {
  padding: 12px 32px;
  font-size: 16px;
}
.banner-info {
  margin-top: 200px;
}
.banner-info__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.banner__content__price {
  width: max-content;
  width: 297px;
}
.form__bg-2 {
  position: absolute;
  width: 310px;
  bottom: 0;
  right: 0px;
}
.form__title {
  font-family: var(--font-base);
  font-size: 34px;
  line-height: 110%;
  font-weight: 400;
  margin-bottom: 40px;
}
.form__input {
  padding: 8.88px 16.82px 8.88px 22.16px;
  font-size: 16px;
  line-height: 150%;
  width: 100%;
}
.form-base button {
  padding: 12px 16.82px;
  font-size: 16px;
  margin-top: 16px;
  width: 100%;
}
.checkbox-label {
  font-size: 12px;
  margin-top: 5px;
}
.checkbox-label>a {
  font-size: 12px;
}
.form__content {
  background-color: #fff;
  border-radius: 24px;
  height: 450px;
  padding: 60px 0px 60px clamp(3.125rem, -6.2317rem + 14.6199vw, 6.25rem);
  background-image: none;
  background-size: cover;
  background-position-x: right;
  background-repeat: no-repeat;
}
.footer__copyright .copyright {
  color: #fff;
  font-family: var(--font-02);
  font-size: 16px;
  font-weight: 400;
}
.footer__copyright a:nth-child(n+2) {
  color: #D5C9BE;
  font-family: var(--font-02);
  font-size: 16px;
  font-weight: 400;
}
.logo-text {
  font-family: var(--font-base);
  color: #fff;
  font-size: 28px;
  margin-right: 90px;
  cursor: pointer;
}
.header__content-logo{
  z-index: 10;
}
.pc{
  display: none;
}
.mob{
  display: block;
}
.header__content__bm__btn{
  width: 30px;
  height: 17px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 10;
}
.header__content{
  justify-content: space-between;
  padding-right: 30px;
  position: absolute;
  left: 0;
  padding-left: 30px;
}
.bm__line{
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.close:nth-child(1){
  position: absolute;
  transform: rotate(45deg);
}
.close:nth-child(2){
  position: absolute;
  transform: rotate(-45deg);
}
.close:nth-child(3){
  display: none;
}
.header__ul{
  flex-direction: column;
}
.header__content__bm{
   position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0);
    top: 0px;
    height: 200vw;
    padding-top: 100px;
    left: 0;
}
.footer__ul {
  gap: 25px;
}
.scroll-none{
  overflow: hidden;
}
.form__content__grid {
  grid-template-columns: 1fr;
}
.banner-info__container {
  max-width: 1920px;
  padding: 0px;
  margin: 0 auto;
}
.banner-info__grid__items__list__li {
  padding: 0px 30px 10px 30px;
}
.banner-info {
  margin-top: 100px;
}
  .logo-text {
    font-size: 24px;
    margin-right: 30px;
}
  .header__li {
    font-size: 16px;
  }
  .banner__content__title {
    font-size: clamp(2rem, 1.6429rem + 1.7857vw, 2.25rem);
  }
  .banner__content__subtitle {
    font-size: clamp(1.125rem, 0.7679rem + 1.7857vw, 1.375rem);
}
  .banner__content__order {
    padding: 10px 28px;
    font-size: 14px;
}
.header__banner {
  top: 0px;
}
.banner-info__grid__items__list__li button {
  font-size: 14px;
  position: relative;
}
.form__content {
  height: 330px;
  padding: 30px 0px 20px 40px;
  background-image: none;
}
.form__title {
  font-size: 28px;
  margin-bottom: 30px;
}
.form__bg-2 {
  position: absolute;
  width: 214px;
  bottom: 0;
  right: 10px;
}
.form__input {
  padding: 7.88px 16.82px 7.88px 22.16px;
  font-size: 14px;
  width: 90%;
  background-color: #fff;
}
.form__input::placeholder {
  font-size: 14px;
}
.checkbox-label {
  font-size: 12px;
  background-color: #fff;
  width: 90%;
}
.form-base button {
  padding: 10px 16.82px;
  font-size: 12px;
  margin-top: 16px;
  width: 90%;
}
.footer{
  position: relative;
}
.footer__copyright {
  padding: 75px 0px 43px 0px;
}
.footer__bottom__content__link {
    margin-right: 0px;
    position: absolute;
    bottom: 87px;
    display: flow-root;
}
.banner-info__grid__items-img{
  width: 100%;
}
.banner-info__grid__items__list__li__text {
  font-size: 14px;
}
.banner-info__grid__items:nth-child(n+3){
  display: none;
}
.banner-info__grid__items__list__li button {
  font-size: 14px;
  width: max-content;
}
.banner-info__grid__items__list__li:nth-child(5){
  justify-content: center;
}
}
@media(max-width:450px){
  .logo-text {
    font-size: 24px;
    margin-right: 20px;
}
.form__bg-2 {
  position: absolute;
  width: 150px;
  bottom: 0;
  right: 10px;
}
.form__title {
  font-size: 24px;
  margin-bottom: 30px;
}
.form__content {
  height: 330px;
  padding: 30px 0px 20px 30px;
  background-image: none;
}
.footer__copyright .copyright {
  font-size: 12px;
}
.footer__copyright a:nth-child(n+2) {
  font-size: 12px;
}
.container {
  padding: 0px 0px 0px 30px;
}
.container-form {
  padding: 0px 30px;
}
.banner__content__order {
  padding: 12px 24px;
  font-size: 14px;
}
.footer__bottom__content__link {
    margin-right: 0px;
    position: absolute;
    bottom: 83px;
    display: flow-root;
}
}
@media(max-width:430px){
  .banner-info__grid {
    grid-template-columns: 1fr;
}
}